
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Address</title>
</head>
<body>
    <div> 
        <label>City Names</label>
        @for(int i=0; i< @ViewBag.Address.Count; i++)
        {
            <h1>Name = @ViewBag.Address[i]</h1>
        }
    </div>
</body>
</html>
