<!DOCTYPE html>
<html>
<script src="angular.js"></script>
<script>
    angular.module('studentApi', []).controller("studentApiCtr", function (dataService, $scope) {
        $scope.url = "http://gsmktg.azurewebsites.net:80/api/v1/techlabs/test/students/";
        $scope.search = function () {
            console.log($scope.rollNoInput);
            $scope.result = dataService.getData($scope.url + $scope.rollNoInput);

        };

    });

    angular.module('studentApi').factory('dataService', function ($http) {
        var obj = {};
        obj.getData = function (url) {
            return $http.get(url).then(function (r) {
                r.data;
                console.log(r.data);
            });
        }
        return obj;
    });
</script>

<body ng-app="studentApi">
    <form class="form-inline" ng-controller="studentApiCtr">
        Name:
        <input type="number" ng-model="rollNoInput" placeholder="Enter the Number" class="form-control" />
        <button ng-click="search()">Search</button>
        <p>{{result}}</p>
    </form>
</body>

</html>